/*CSS Reset*/
*	{
margin:0;
padding:0;
}
ul 	{
list-style:none;
}
img	{
border:none;
outline:none;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
body	{
font-family:Arial;
}

.clear-fix 	{
clear:both;
height:0;
width:0;
display:block;
}
#wrapper 	{
width:960px;
margin:0 auto;
	box-shadow:0 0 20px #909090;
-moz-box-shadow:0 0 20px #909090;
-webkit-box-shadow:0 0 20px #909090;
border:1px solid #888;
border-top:none;
margin-bottom:30px;
}

#header		{
position:relative;
}
#header h1 	{
padding-left:40px;
padding-top:20px;
}
#top-nav 	{
position:absolute;
top:70px;
right:40px;
}
#top-nav li 	{
float:left;
padding:0 25px;
border-right:1px solid #165a6d;
}
#top-nav li a	{
font-size:16px;
color:#165a6d;
}
#top-nav li.last 	{
border:none;
padding-right:0;
}

.main-nav {
background: #3688b9;
/* Old browsers */
	background: -moz-linear-gradient(top, #3688b9 0%, #276184 100%);
/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3688b9), color-stop(100%,#276184));
/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3688b9 0%,#276184 100%);
/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3688b9 0%,#276184 100%);
/* Opera11.10+ */
	background: -ms-linear-gradient(top, #3688b9 0%,#276184 100%);
/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3688b9', endColorstr='#276184',GradientType=0 );
/* IE6-9 */
	background: linear-gradient(top, #3688b9 0%,#276184 100%);
/* W3C */
width:960px;
}
.main-nav li	{
display:inline;
height:50px;
padding-left:40px;
padding-right:20px;
}
.main-nav li a, .main-nav li {
color:#FFF;
line-height:50px;
font-size:18px;
text-shadow:1px 1px 1px #000;
}
.main-nav li a.active {
color:#ffd152;
cursor:default;
}
.main-nav li a:hover.active {
color:#ffd152;
}
.main-nav li a:hover {
color:#DDD;
text-decoration:none;
}

#content {
padding:40px;
border-bottom:1px solid #888;
}
#main-content	{
width:640px;
margin-right:20px;
float:left;
}
#main-content h2, #sidebar h2	{
font-weight:normal;
font-size:20px;
margin-bottom:10px;
}
#media-section, #sidebar .band	{
margin-bottom:30px;
}

#playlist, #band-playlist , #event-list 	{
width:310px;
color:#FFF;
position:relative;
float:left;
margin-right:15px;
min-height:300px;
}
#event-list {
	height:300px;
	overflow:auto;
}
#playlist h2, #band-playlist h2, #event-list h2	{
height:40px;
font-size:20px;
background-color:#276184;
line-height:40px;
padding:0 15px;
text-shadow:1px 1px 1px #000;
margin:0;
}
#playlist li,  #band-playlist li{
padding:0 15px;
height:30px;
line-height:30px;
cursor:pointer;
background-color:#3688b9;
}
#event-list li {
padding:0;
height:auto;
}
#playlist li.even	{
background-color:#6bb1c4;
}
#band-playlist li.even	{
background-color:#888;
}
#event-list li p.desc{
border-left:1px solid #888;
border-right:1px solid #888;
padding:10px;
color:#000;
font-size:14px;
}
#event-list li h3 a{
display:block;
background-color:#3688B9;
color:#FFF;
padding:0 15px;
font-size:14px;
line-height:24px;
}
#playlist li a, #band-playlist li a, #event-list  li a	{
color:#FFF;
height:30px;
display:block;
}
#playlist li a.current, #band-playlist li a.current, #event-list  li a.selected	{
color:#ffd152;
}
#playlist li a:hover, #band-playlist li a:hover, #event-list li a:hover	{
color:#DDD;
text-decoration:none;
}
#playlist li a:hover.current, #band-playlist li a:hover.current,  #event-list li a:hover.selected	{
color:#ffd152;
cursor:default;
}
#playlist .more, #band-playlist .more	{
position:absolute;
bottom:-24px;
right:0;
display:block;
width:60px;
height:24px;
line-height:24px;
background-color:#e5e5e5;
color:#4c4c4c;
text-align:right;
padding-right:10px;
font-size:12px;
text-decoration:none;
}

#player{
float:right;
width:300px;
height:260px;
}
.featured-album	{
position:relative;
padding:17px 15px;
width:270px;
margin-left:15px;
float:right;
background: #e4e4e4;
/* Old browsers */
background: -moz-linear-gradient(top, #e4e4e4 0%, #bbbbbb 100%);
/* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#bbbbbb));
/* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4e4e4 0%,#bbbbbb 100%);
/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4e4e4 0%,#bbbbbb 100%);
/* Opera11.10+ */
background: -ms-linear-gradient(top, #e4e4e4 0%,#bbbbbb 100%);
/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#bbbbbb',GradientType=0 );
/* IE6-9 */
background: linear-gradient(top, #e4e4e4 0%,#bbbbbb 100%);
/* W3C */}
.featured-album img	{
position:absolute;
left:20px;
border:2px solid #FFF;
box-shadow:0 0 5px #909090;
-webkit-box-shadow:0 0 5px #909090;
-moz-box-shadow:0 0 5px #555;
}
.featured-album .info	{
width:180px;
padding-left:100px;
}
.featured-album .info h2	{
font-size:14px;
color:#165a6d;
}
.featured-album .info p	{
font-size:12px;
color:#333;
}

#sidebar {
width:220px;
margin-left:660px;
}
#sidebar .band .accordion div	{
width:188px;
padding:10px 15px;
}
#sidebar .band .accordion div img	{
border:2px solid #FFF;
box-shadow:0 0 5px #999;
margin-bottom:5px;
}
#sidebar .band .accordion h2	{
margin-bottom:0;
font-size:18px;
position:relative;
}
#sidebar .band .accordion h2 span.arrow {
position:absolute;
display:block;
height:0;
width:0;
}
#sidebar .band .accordion h2.ui-state-active.ui-state-default	span.arrow		{
border-top:10px solid #fff;
border-left:10px solid transparent;
border-right:10px solid transparent;
top:15px;
right:10px;
}
#sidebar .band .accordion h2.ui-state-active	span.arrow		{
border-top:10px solid #fff;
border-left:10px solid transparent;
border-right:10px solid transparent;
top:15px;
right:10px;
}
#sidebar .band .accordion h2.ui-state-default	span.arrow		{
border-left:10px solid #fff;
border-top:10px solid transparent;
border-bottom:10px solid transparent;
top:10px;
right:14px;
}
#sidebar .band .accordion p	{
font-size:16px;
line-height:20px;
}
#footer 	{
padding:0 40px;
height:60px;
position:relative;
}
#footer 	p	{
text-align:left;
line-height:60px;
color:#484848;
}
#footer .nav		{
position:absolute;
right:40px;
top:0;
}
#footer .nav li 	{
float:left;
}
#footer .nav li a	{
line-height:60px;
padding:0 10px;
border-right:1px solid #888;
color:#484848;
}
#footer .nav li.last a	 {
border-right:none;
padding-right:0;
}

#social-media 	{
display:block;
position:fixed;
top:33%;
padding:10px 0;
background-color:#e5e5e5;
border:1px solid #505050;
border-left:none;
}
#social-media img	{
padding:10px;
}

/*band profile*/

#content-internal {
background:transparent;
padding:40px 20px;
}
#sidebar-internal {
width:300px;
float:left;
margin-right:20px;
}
.band_profile_image {
width:300px;
}
#band-controls, #other-controls  {
background:transparent url(images/semi-transparent.png);
}
#band-controls li, #other-controls  li {
padding:5px;
}
#band-controls a, #other-controls  a{
font-size:13px;
color:#000;
text-decoration:underline;
}
#band-playlist , #event-list {
width:300px;
}
#band-playlist li, #event-list li{
background-color:#FFF;
}
#band-playlist li a, #event-list li a {
color:#888;
}
#band-playlist .even a , #event-list .even a{
color:#FFF;
}
#band-playlist .song-count {
float:right;
margin-right:10px;
}
#other-controls {
display:block;
}
#band-details, #event-details, #content-internal .content {
background:url(images/semi-transparent.png);
width:560px;
padding:20px;
position:relative;
margin-left:320px;
padding-top:0;
}
#band-details #become-a-fan{
position:absolute;
top:15px;
right:20px;
background-color:#276184;
color:#FFF;
padding:5px 10px;
cursor:pointer;
}
#band-details h2{
font-size:48px;
font-weight:normal;
text-shadow:2px 2px 0 #FFF;
}
#band-details-table, #event-details-table{
margin-top:20px;
}
#band-details-table tr, #event-details-table tr{
height:30px;
}
#event-details-table tr.venue {
	height:130px;
}
#event-details-table tr.venue  td{
	position:relative;
}
#event-details-table tr.venue  td a.goto-map {
	font-size:10px;
	color:#3688B9;
	display:block;
}
#band-details-table tr td, #event-details-table tr td {
vertical-align:top;
}
#band-details-table tr td.label, #event-details-table tr td.label {
width:150px;
font-weight:bold;
text-align:right;
padding-right:20px;
}
#event-details-table tr td.label {
width:75px;
}
#band-gigs {
margin-top:20px;
}
#band-gigs h2{
font-size:28px;
margin-bottom:20px;
background-color:#276184;
width:560px;
position:absolute;
left:0;
padding:10px 20px;
color:#FFF;
text-shadow:none;
}
#band-gigs li{
border-bottom:2px solid #276184;
margin-bottom:20px;
}
#band-gigs li img {
width:100px;
margin-right:20px;
float:left;
}
#band-gigs li .description {
margin-left:120px;
margin-bottom:20px;
}
#band-gigs li.first  {
padding-top:80px;
}
#band-gigs li.last  {
margin-bottom:10px;
}
#band-gigs a.more {
display:block;
text-align:center;
font-size:12px;
color:#276184;
text-decoration:underline;
}
#event-image {
	position:absolute;
	right:0;
	width:200px;
	top:0;
}
#event-map-location {
	clear:both;
	margin:0 auto;
}
#event-map-location a.top {
	font-size:14px;
	display:block;
	width:25px;
	padding:5px;
	margin:5px;
	margin-left:0;
	background-color:#3688B9;
	color:#FFF;
}
#content-internal.search {
	padding:0;
}
#search-bar .panel{
	padding:20px;
	background-color:#EEE;
}
#search-bar .search-tip{
	font-size:12px;
	padding:5px 20px 5px 30px;
	line-height:15px;
	color:#555;
	background:#fcdf8f url(images/search-tip.png) no-repeat 5px 0;
	position:relative;
	
}
#search-bar .search-tip span.close {
	position:absolute;
	right:5px;
	color:#9d7a1a;
	cursor:pointer;
	font-weight:bolder;
}
#search-bar form input[type=text] {
	line-height:18px;
	color:#888;
	padding:2px 5px;
}
#search-bar .panel input[type=radio] {
	display:none;
}

#search-results, #search-results-wrapper{
	padding:20px;
}
#search-filters li{
	display:inline;
}
#search-filters li a{
	padding:10px;
	background-color:#FFF;
	font-size:14px;
	color:#000;
}
#search-filters li a:hover{
	text-decoration:none;
}
#search-filters li a.active{
	background-color:#EEE;
	color:#555;
}

#search-results-wrapper .note{
	background-color:#EEE;
	margin-top:10px;
	padding:20px;
	margin-bottom:0;
	font-size:14px;
	color:#555;
	display:none;
}
#search-results{
	background-color:#EEE;
	margin-top:10px;
	float:left;
	display:none;
	width:880px;
	display:block;
}
#search-results li {
	width:430px;
	display:block;
	float:left;
	margin-right:10px;
	margin-bottom:20px;
	font-size:14px;
}
#search-results li h2 a {
	font-size:18px;
	clear:left;
	display:block;
	float:none;
}
#search-results li p {
	color:#888;
}
#search-results li a {
	font-size:14px;
	color:#3688B9;
	margin-right:10px;
	float:left;
}
#search-results li span{
	margin-right:10px;
	float:left;
}
#search-results li img {
	margin-right:10px;
	float:left;
}

#search-results li .right {
	float:right;
}
#search-results li .left {
	float:left;
}

#search-results li .fans {
	display:block;
	float:left;
	width:255px;
	
}





